{% extends "body.twig" %}

{% block main %}
	<main>
		<div class="container">
			<h1 class="display-4 mt-4 mb-3">Register a new animal</h1>

			<form action="/new-animal" method="post" enctype="multipart/form-data">
				<div class="form-group col-md-3">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="Name">
				</div>
				<div class="form-group col-md-3">
					<label for="birthDate">Birth date</label>
					<input type="date" class="form-control" id="birth-date" name="birthDate" placeholder="birthDate">
				</div>
				<div class="form-group col-md-3">
					<label for="species">Species</label>
					<input type="text" class="form-control" id="species" name="species" placeholder="species">
				</div>
				<div class="form-group col-md-3">
					<label for="firstVisit">Date of the first visit</label>
					<input type="date" class="form-control" id="first-isit" name="firstVisit" placeholder="firstVisit">
				</div>
				<div class="form-group col-md-3">
					<label for="gender">Gender</label>
					<select name="gender" class="form-select" aria-label="Gender">
						<option selected value="">select the gender</option>
						<option value="0">Female</option>
						<option value="1">Male</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="image">Photo of the animal</label>
					<input type="file" name="image" class="form-control" id="image" accept=".jpg, .png, .webp"/>
				</div>
				<div class="form-group col-md-6">
					<label for="treatment">Treatment</label>
					<textarea class="form-control" id="treatment" name="treatment" rows="3"></textarea>
				</div>
				<div class="form-group col-md-3">
					<label for="favoriteVeterinarian">Favorite veterinarian</label>
					<select name="favoriteVeterinarian" class="form-select" aria-label="Favorite veterinarian">
						<option selected value="">select the favorite veterinarian</option>
						{% for veterinarian in veterinarians %}
							<option value="{{veterinarian.id}}">{{veterinarian.firstname}} {{veterinarian.lastname}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="owner">Owner</label>
					<select name="owner" class="form-select" aria-label="Owner">
						<option selected value="">select the owner</option>
						{% for customer in customers %}
							<option value="{{customer.id}}">{{customer.firstname}} {{customer.lastname}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="deathDate">Date of the death</label>
					<input type="date" class="form-control" id="death-date" name="deathDate" placeholder="deathDate">
				</div>


				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</main>
{% endblock %}
