{% extends "body.twig" %}

{% block main %}

<main class="container">
	<div class="container">
		<h1 class="display-4 mt-4 mb-5">Register a new veterinarian</h1>

		<form action="/new-veterinarian" method="post" enctype="multipart/form-data" class="mb-5">
			<div class="form-group col-md-3 mb-2">
				<label for="firstname">Firstame</label>
				<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="lastname">Lastname</label>
				<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="address">Address</label>
				<input type="text" class="form-control" id="address" name="address" placeholder="Address">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="phone-number">Phone number</label>
				<input type="text" class="form-control" id="phone-number" name="phoneNumber" placeholder="Phone number">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Email">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="gender">Gender</label>
				<select name="gender" id="gender" class="form-select" aria-label="Gender">
					<option selected value="">select the gender</option>
					<option value="0">Female</option>
					<option value="1">Mal</option>
				</select>
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="speciality">Speciality</label>
				<input type="text" class="form-control" id="speciality" name="speciality" placeholder="Speciality">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="veterinary-practice">Veterinary practice</label>
				<select id="veterinary-practice" name="veterinaryPractice" class="form-select" aria-label="Veterinary practice">
					<option selected value="">select the veterinary practice</option>
					{% for veterinaryPractice in veterinaryPractices %}
						<option value="{{veterinaryPractice.id}}">{{veterinaryPractice.name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="upper-hierarchy">Supervisor</label>
				<select id="upper-hierrarchy" name="upperHierarchy" class="form-select" aria-label="Supervisor">
					<option selected value="">select the supervisor</option>
					{% for veterinarian in veterinarians %}
						<option value="{{veterinarian.id}}">{{veterinarian.firstname}} {{veterinarian.lastname}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="care-per-day">Care per day</label>
				<input type="number" min="0" class="form-control" id="care-per-day" name="carePerDay" placeholder="Care per day">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="entry-date">Entry date</label>
				<input type="date" class="form-control" id="entry-date" name="entryDate" placeholder="Entry date">
			</div>
			<div class="form-group col-md-3 mb-2">
				<label for="exit-date">Exit date</label>
				<input type="date" class="form-control" id="exit-date" name="exitDate" placeholder="Exit date">
			</div>
			<div class="form-group col-md-4 mb-2">
				<label for="image">Photo</label>
				<input type="file" name="image" class="form-control" id="image" accept=".jpg, .png, .webp"/>
			</div>
			<div class="form-group col-md-6 mb-2">
				<label for="informations">Informations</label>
				<textarea class="form-control" id="informations" name="informations" rows="3"></textarea>
			</div>
			
			<button type="submit" class="btn btn-primary mt-2">Submit</button>
		</form>
	</div>
</main>
{% endblock %}
